<template>
  <div class="p-3 bg-white shadow">
    <h2 class="mb-2">Sélectionner le profil à utiliser</h2>
    <div class="profiles mb-3 flex flex-wrap">
      <div class="p-2 w-1/3" v-for="profile in profiles" :key="profile.id">
        <div class="p-3 bg-white shadow flex">
          <div
            class="flex-1 cursor-pointer"
            @click="setActiveProfile(profile.id)"
          >
            {{ profile.name }} {{ profile.surname }}
          </div>
          <router-link
            v-if="hasProfileSelected"
            :to="{ name: 'profile.edit', params: { profileId: profile.id } }"
            class="text-blue-500 hover:text-blue-700"
          >
            <font-awesome-icon :icon="faEdit" />
          </router-link>
        </div>
      </div>
    </div>

    <router-link
      :to="{ name: 'profile.create' }"
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
    >
      Créer un profil
    </router-link>
  </div>
</template>

<script src="./ProfileSelect.ts" lang="ts"></script>
