<template>
  <div>
    <nav class="mt-5">
      <button
        type="button"
        class="p-2 border border-b-0 border-blue-200 text-blue-400 hover:text-blue-600"
        :class="list === 'accepted' ? ['bg-blue-100', 'text-blue-600'] : []"
        @click="list = 'accepted'"
      >
        Personnes acceptées
      </button>
      <button
        type="button"
        class="p-2 border border-l-0 border-b-0 border-blue-200 text-blue-400 hover:text-blue-600"
        :class="list === 'pending' ? ['bg-blue-100', 'text-blue-600'] : []"
        @click="list = 'pending'"
      >
        Personnes en attente
      </button>
    </nav>

    <section class="block shadow-sm p-3 border border-blue-200 bg-white">
      <div
        v-for="(member, index) in selectedMembers"
        :key="member.id"
        class="flex"
        :class="{ 'border-gray-100': index % 2 === 0 }"
      >
        <div class="border border-r-0 flex-1 px-4 py-2">
          {{ member.profile.name }} {{ member.profile.surname }}
        </div>
        <div class="border px-4 py-2">
          <button
            v-if="
              member.status.status === 'PENDING' &&
                hasPermission('member.accept')
            "
            type="button"
            @click="acceptSubscription({ memberId: member.id })"
            class="mr-2 text-green-400 hover:text-green-600"
          >
            <font-awesome-icon :icon="faCheck" />
          </button>
          <button
            v-if="hasPermission('member.decline')"
            type="button"
            @click="declineSubscription({ memberId: member.id })"
            class="text-red-400 hover:text-red-600"
          >
            <font-awesome-icon :icon="faBan" />
          </button>
        </div>
      </div>
    </section>
  </div>
</template>

<script src="./Members.ts" lang="ts" />
<style src="./Members.pcss" lang="postcss" scoped />
