<template>
  <section id="club">
    <div class="flex">
      <h2 class="text-3xl flex-1">{{ club.name }}</h2>
      <div
        class="flex justify-center items-center"
        v-if="permissions.length > 0"
      >
        <router-link
          v-if="$route.name.includes('club.manager')"
          :to="{ name: 'club' }"
          class="inline-block bg-red-500 hover:bg-red-700 text-white p-2 rounded leading-none"
        >
          Retourner au club
        </router-link>
        <router-link
          v-else
          :to="{ name: 'club.manager' }"
          class="inline-block bg-red-500 hover:bg-red-700 text-white p-2 rounded leading-none"
        >
          Gerer
        </router-link>
      </div>
    </div>
    <div class="container lg:flex">
      <div class="block container lg:w-3/4">
        <router-view />
      </div>
      <div class="sidebar lg:w-1/4 pl-3">
        <club-subscribe-widget :club-name="clubName" />
      </div>
    </div>
  </section>
</template>

<script src="./Club.ts" lang="ts"></script>
