<template>
  <section
    v-if="clubs.length > 0"
    id="clubs"
    class="clubs p-2 md:flex md:flex-wrap w-1/2"
  >
    <div
      :key="club.name"
      class="club_wrapper md:w-1/2 md:p-2 lg:w-1/3 text-blue-500 hover:text-blue-700 cursor-pointer"
      v-for="club in clubs"
    >
      <div class="border-gray-400 shadow p-5" @click="toClub(club)">
        <div class="text-center text-5xl">
          <font-awesome-icon :icon="['fas', club.icon || 'running']" />
        </div>
        <div class="text-center text-xl">{{ club.name }}</div>
      </div>
    </div>
  </section>
  <section v-else class="clubs p-2 md:flex md:flex-wrap">
    Il n'y a aucune association pour le moment.
  </section>
</template>

<script src="./Clubs.ts" lang="ts"></script>
