<template>
  <nav class="navigation shadow-md mb-2 bg-blue-800">
    <div
      class="container mx-auto flex items-center justify-between flex-wrap p-6"
    >
      <div class="flex items-center flex-shrink-0 text-white mr-6">
        <span class="font-semibold text-xl tracking-tight">M2L</span>
      </div>
      <div class="block lg:hidden">
        <button
          class="flex items-center px-3 py-2 text-white hover:text-gray-500"
          @click="opened = !opened"
        >
          <svg
            class="fill-current h-5 w-5"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <title>Menu</title>
            <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
          </svg>
        </button>
      </div>
      <div
        class="w-full flex-grow lg:flex lg:items-center lg:w-auto lg:block"
        :class="{ hidden: !opened }"
      >
        <div class="text-sm lg:flex-grow">
          <router-link to="/" class="navigation__link">Accueil</router-link>
          <router-link to="/actualites" class="navigation__link"
            >Actualités
          </router-link>
          <router-link to="/associations" class="navigation__link"
            >Associations
          </router-link>
          <router-link to="/a-propos" class="navigation__link"
            >À propos
          </router-link>
        </div>
        <div class="text-sm lg:flex-grow lg:text-right">
          <user-dropdown />
        </div>
      </div>
    </div>
  </nav>
</template>

<script src="./NavigationBar.ts" lang="ts"></script>
<style src="./NavigationBar.pcss" scoped lang="postcss"></style>
