.navigation__link {
  @apply block pt-3 pb-1 text-white mr-4 font-medium uppercase tracking-wider border-b border-transparent;

  &:hover {
    @apply text-gray-400;
  }
  &.router-link-exact-active {
    @apply text-gray-400 border-gray-400;
  }
}

@screen lg {
  .navigation__link {
    @apply inline-block mt-0;
  }
}