<template>
  <div class="border w-full shadow-md">
    <h3 class="border-b p-2">Inscription</h3>
    <div class="p-2">
      <p v-if="loading">
        Chargement des données ...
      </p>
      <p v-else-if="!profile">
        Vous devez vous connecter pour vous inscrire à ce club.
      </p>
      <p v-else-if="status === 'PENDING'">
        Votre inscription n'est pas encore acceptée.
      </p>
      <p v-else-if="status === 'SUBSCRIBED'">
        Vous êtes inscrit à ce club. <br />
        Depuis le {{ new Date(+subscription.acceptedAt).toLocaleDateString() }}
        <br />
        Jusqu'au {{ new Date(+subscription.endedAt).toLocaleDateString() }}
      </p>
      <p v-else-if="status === 'REFUSED'">
        Votre inscription a été refusée. <br />
        Vous pouvez contacter le gestionnaire pour plus d'information.
        <button
          type="button"
          @click="subscribeAction()"
          class="mt-2 bg-blue-500 hover:bg-blue-700 text-white py-1 px-3 rounded focus:outline-none focus:shadow-outline"
        >
          Se réinscrire
        </button>
      </p>
      <p v-else-if="status === 'EXPIRED'">
        Votre inscription est arrivée à son terme.
        <button
          type="button"
          @click="subscribeAction()"
          class="mt-2 bg-blue-500 hover:bg-blue-700 text-white py-1 px-3 rounded focus:outline-none focus:shadow-outline"
        >
          Se réinscrire
        </button>
      </p>
      <p v-else-if="status === 'NOTLOGGED'">
        Vous n'êtes pas connectés
      </p>
      <p v-else>
        Vous n'êtes pas encore inscrit à ce club.
        <button
          type="button"
          @click="subscribeAction()"
          class="mt-2 bg-blue-500 hover:bg-blue-700 text-white py-1 px-3 rounded focus:outline-none focus:shadow-outline"
        >
          S'inscrire
        </button>
      </p>
    </div>
  </div>
</template>

<script src="./ClubSubscribeWidget.ts" lang="ts"></script>
