<template>
  <div class="register w-1/2 mt-4">
    <router-link
      :to="{ name: 'profile.select' }"
      class="block text-blue-500 hover:text-blue-700 mb-4"
    >
      <font-awesome-icon :icon="faArrowLeft" />
      Retourner à la liste des profils
    </router-link>
    <div v-if="errors.length > 0" class="shadow text-white bg-red-600 p-3 mb-3">
      <ul class="list-disc pl-5" v-for="error in errors" :key="error">
        <li>{{ error }}</li>
      </ul>
    </div>
    <div class="p-5 shadow">
      <h2 v-if="action === 'create'" class="text-2xl mb-4">
        Création d'un nouveau profil
      </h2>
      <h2 v-else class="text-2xl mb-4">
        Modification du profil: {{ name }} {{ surname }}
      </h2>
      <div class="mb-4">
        <label
          class="block text-gray-700 text-sm font-bold mb-2"
          for="email_input"
        >
          Email
        </label>
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="email_input"
          type="email"
          placeholder="john.doe@example.com"
          v-model="email"
        />
      </div>
      <div class="flex">
        <div class="pr-2 mb-4 flex-1">
          <label
            class="block text-gray-700 text-sm font-bold mb-2"
            for="profile_name"
          >
            Prénom
          </label>
          <input
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
            id="profile_name"
            type="text"
            placeholder="John"
            v-model="name"
          />
        </div>
        <div class="pl-2 mb-4 flex-1">
          <label
            class="block text-gray-700 text-sm font-bold mb-2"
            for="profile_surname"
          >
            Nom
          </label>
          <input
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="profile_surname"
            type="text"
            placeholder="Doe"
            v-model="surname"
          />
        </div>
        <div class="pl-2 mb-4 flex-1">
          <label
            class="block text-gray-700 text-sm font-bold mb-2"
            for="profile_gender"
          >
            Genre
          </label>
          <select
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="profile_gender"
            v-model="gender"
          >
            <option value="MAN">Homme</option>
            <option value="WOMAN">Femme</option>
            <option value="OTHER">Autre</option>
          </select>
        </div>
      </div>
      <div class="flex">
        <div class="pr-2 mb-4 flex-1">
          <label
            class="block text-gray-700 text-sm font-bold mb-2"
            for="profile_address"
          >
            Adresse
          </label>
          <input
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
            id="profile_address"
            type="text"
            placeholder="50 rue des potirons"
            v-model="address"
          />
        </div>
        <div class="pl-2 mb-4 flex-1">
          <label
            class="block text-gray-700 text-sm font-bold mb-2"
            for="profile_postcode"
          >
            Code postal
          </label>
          <input
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="profile_postcode"
            type="text"
            placeholder="57000"
            v-model="postcode"
          />
        </div>
      </div>
      <div class="flex">
        <div class="pr-2 mb-4 flex-1">
          <label
            class="block text-gray-700 text-sm font-bold mb-2"
            for="profile_city"
          >
            Ville
          </label>
          <input
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
            id="profile_city"
            type="text"
            placeholder="Metz"
            v-model="city"
          />
        </div>
        <div class="pl-2 mb-4 flex-1">
          <label
            class="block text-gray-700 text-sm font-bold mb-2"
            for="profile_country"
          >
            Pays
          </label>
          <input
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="profile_country"
            type="text"
            placeholder="France"
            v-model="country"
          />
        </div>
      </div>
      <button
        type="button"
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
        @click="submitForm()"
      >
        <span v-if="action === 'create'">Créer le profil</span>
        <span v-else>Modifier le profil</span>
      </button>
    </div>
  </div>
</template>

<script src="./ProfileForm.ts" lang="ts"></script>
