<template>
  <section class="mt-5 p-3 block shadow-sm border border-blue-200 bg-white">
    <router-link
      :to="{ name: 'club.manager.group.create' }"
      class="mt-2 bg-blue-500 hover:bg-blue-700 text-white py-1 px-3 rounded focus:outline-none focus:shadow-outline"
    >
      Créer un groupe
    </router-link>
    <div class="flex">
      <div class="w-1/4 p-1" v-for="group in groups" :key="group.id">
        <div class="flex-1 flex">
          <router-link
            :to="{
              name: 'club.manager.group.members',
              params: { groupId: group.id }
            }"
            class="flex-1 block px-4 py-2 border border-r-0 text-blue-400 hover:text-blue-600"
          >
            {{ group.label }}
          </router-link>
          <router-link
            :to="{
              name: 'club.manager.group.edit',
              params: { groupId: group.id }
            }"
            class="block px-3 py-2 border text-blue-400 hover:text-blue-600"
          >
            <font-awesome-icon :icon="faEdit" />
          </router-link>
        </div>
      </div>
    </div>
  </section>
</template>

<script src="./Groups.ts" lang="ts" />
<style src="./Groups.pcss" lang="postcss" />
