<template>
  <section class="mt-5 p-3 block shadow-sm border border-blue-200 bg-white">
    <header class="flex relative">
      <h3 class="w-2/3 text-xl">Liste des membres</h3>
      <div
        class="flex justify-end absolute right-0 top-0 w-full"
        v-if="canRemoveMember"
      >
        <v-select
          class="w-1/2"
          :options="addMemberOption"
          v-model="selectedMemberId"
          :reduce="option => option.id"
        />
        <button
          type="button"
          class="ml-1 py-1 px-4 rounded-sm bg-green-500 hover:bg-green-600 text-white"
          @click="add()"
        >
          Ajouter
        </button>
      </div>
    </header>
    <div v-if="!canRemoveMember" class="p-2 bg-red-500">
      Seul un administrateur de la M2L peut ajouter ou enlever une personne de
      ce groupe
    </div>
    <div class="w-1/2" v-if="groupMembers.length > 0">
      <div
        class="mt-2 flex w-full"
        v-for="member in groupMembers"
        :key="member.id"
      >
        <div class="flex-1 block px-4 py-2 border">
          {{ member.profile.name }}
          {{ member.profile.surname }}
        </div>
        <button
          v-if="canRemoveMember"
          class="block px-3 py-2 border border-l-0 text-red-400 hover:text-red-600"
          @click="remove(member.id)"
        >
          <font-awesome-icon :icon="faTimes" />
        </button>
      </div>
    </div>
    <div v-else>Il n'y a personne dans ce groupe</div>
  </section>
</template>

<script src="./GroupMembers.ts" lang="ts" />
<style src="./GroupMembers.pcss" lang="postcss" />
