<template>
  <section class="mt-5 p-3 block shadow-sm border border-blue-200 bg-white">
    <div>
      <label for="group_label" class="text-xl">Nom</label>
      <input
        type="text"
        id="group_label"
        placeholder="Nom du groupe"
        class="block w-full rounded-sm border border-gray-400 p-1"
        v-model="name"
      />
      <div class="mt-4">
        <h3 class="text-xl">Permissions</h3>
        <div class="flex" v-if="!permissions.includes('*')">
          <div class="w-1/3 px-2">
            <label class="text-lg">Articles</label>
            <div>
              <input
                type="checkbox"
                id="group_permission_post_create"
                value="post.create"
                v-model="permissions"
              />
              <label for="group_permission_post_create">Créer</label>
            </div>
            <div>
              <input
                type="checkbox"
                id="group_permission_post_edit"
                value="post.edit"
                v-model="permissions"
              />
              <label for="group_permission_post_edit">Modifier</label>
            </div>
            <div>
              <input
                type="checkbox"
                id="group_permission_post_remove"
                value="post.remove"
                v-model="permissions"
              />
              <label for="group_permission_post_remove">Supprimer</label>
            </div>
          </div>
          <div class="w-1/3 px-2">
            <label class="text-lg">Membres</label>
            <div>
              <input
                type="checkbox"
                id="group_permission_member_accept"
                value="member.accept"
                v-model="permissions"
              />
              <label for="group_permission_member_accept">Accepter</label>
            </div>
            <div>
              <input
                type="checkbox"
                id="group_permission_member_decline"
                value="member.decline"
                v-model="permissions"
              />
              <label for="group_permission_member_decline">Refuser</label>
            </div>
          </div>
        </div>
        <div v-else>Vous ne pouvez pas modifier les droits de ce rôle.</div>
      </div>
    </div>
    <button
      type="button"
      class="mt-2 bg-blue-500 hover:bg-blue-700 text-white py-1 px-3 rounded focus:outline-none focus:shadow-outline"
      @click="submit"
    >
      Enregistrer
    </button>
  </section>
</template>

<script src="./GroupForm.ts" lang="ts" />
<style src="./GroupForm.pcss" lang="postcss" />
