<template>
  <section class="block shadow-sm mt-5 p-3 border border-blue-200 bg-white">
    <div>
      <label for="post_title">Titre de l'article</label>
      <input
        type="text"
        id="post_title"
        class="block w-full rounded-sm border border-gray-400 p-1"
        placeholder="Titre de l'article"
        v-model="title"
      />
    </div>
    <div class="mt-4">
      <label for="post_image">URL de l'image de l'article</label>
      <input
        type="text"
        id="post_image"
        class="block w-full rounded-sm border border-gray-400 p-1"
        placeholder="URL de l'image de l'article"
        v-model="image"
      />
    </div>
    <div class="mt-4">
      <label for="post_content">Contenu</label>
      <textarea
        id="post_content"
        class="block w-full rounded-sm border border-gray-400 p-1"
        cols="30"
        rows="10"
        v-model="content"
      ></textarea>
    </div>
    <button
      type="button"
      class="mt-2 bg-blue-500 hover:bg-blue-700 text-white py-1 px-3 rounded focus:outline-none focus:shadow-outline"
      @click="submit"
    >
      Enregistrer
    </button>
  </section>
</template>

<script src="./PostForm.ts" lang="ts" />
<style src="./PostForm.pcss" lang="postcss"></style>
