<template>
  <div>
    <nav class="block shadow-sm border border-blue-200 bg-white">
      <router-link
        v-if="
          permissions.some(
            perm => perm.startsWith('post.') || perm.includes('*')
          )
        "
        :to="{ name: 'club.manager.posts' }"
        class="inline-block p-2 text-blue-400 hover:text-blue-600"
      >
        Articles
      </router-link>
      <router-link
        v-if="
          permissions.some(
            perm => perm.startsWith('member.') || perm.includes('*')
          )
        "
        :to="{ name: 'club.manager.members' }"
        class="inline-block p-2 text-blue-400 hover:text-blue-600"
      >
        Membres
      </router-link>
      <router-link
        v-if="permissions.includes('*')"
        :to="{ name: 'club.manager.groups' }"
        class="inline-block p-2 text-blue-400 hover:text-blue-600"
      >
        Groupes
      </router-link>
    </nav>
    <router-view />
  </div>
</template>

<script src="./Manager.ts" lang="ts" />
<style src="./Manager.pcss" lang="postcss" scoped />
