<template>
  <div id="app">
    <navigation-bar />
    <router-view class="container mx-auto" />
  </div>
</template>

<style src="@/assets/css/_global.pcss" lang="postcss" />

<script lang="ts">
import { defineComponent, provide } from "@vue/composition-api";
import { DefaultApolloClient } from "@vue/apollo-composable";
import { apolloClient } from "@/vue-apollo";
import NavigationBar from "./components/NavigationBar/NavigationBar.vue";

export default defineComponent({
  components: { NavigationBar },
  setup() {
    provide(DefaultApolloClient, apolloClient);
  }
});
</script>
