<template>
  <div class="posts flex flex-wrap">
    <div class="m-3 p-3 w-full shadow-md bg-white" v-if="posts.length === 0">
      Le club n'a aucun article :(
    </div>
    <div
      class="block lg:w-1/3 cursor-pointer"
      v-for="post in posts"
      :key="post.id"
    >
      <div
        class="shadow-lg p-3 m-3 h-48 relative text-white bg-gray-400"
        @click="toPost(post.id)"
        :style="{ background: `url(${post.image})` }"
      >
        <div class="text-sm text-right">
          {{ new Date(+post.createdAt).toLocaleString() }}
        </div>
        <div
          class="-ml-3 pl-2 bg-black text-xl w-full flex-1 absolute bottom-0"
        >
          {{ post.title }}
        </div>
      </div>
    </div>
  </div>
</template>

<script src="./Posts.ts" lang="ts"></script>
