<template>
  <div class="login w-1/3 mt-8">
    <div v-if="errors.length > 0" class="shadow text-white bg-red-600 p-3 mb-3">
      <ul class="list-disc pl-5" v-for="error in errors" :key="error">
        <li>{{ error }}</li>
      </ul>
    </div>
    <div class="p-5 shadow">
      <div class="mb-4">
        <label
          class="block text-gray-700 text-sm font-bold mb-2"
          for="email_input"
        >
          Email
        </label>
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="email_input"
          type="email"
          placeholder="une.personne@example.com"
          v-model="email"
        />
      </div>
      <div class="mb-6">
        <label
          class="block text-gray-700 text-sm font-bold mb-2"
          for="password_input"
        >
          Mot de passe
        </label>
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
          id="password_input"
          type="password"
          placeholder="******************"
          v-model="password"
        />
      </div>
      <button
        type="button"
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
        @click="connect()"
      >
        Connexion
      </button>
    </div>
  </div>
</template>

<script src="./Login.ts" lang="ts"></script>
