<template>
  <section class="block shadow-sm mt-5 p-3 border border-blue-200 bg-white">
    <router-link
      :to="{ name: 'club.manager.post.create' }"
      v-if="hasPermission('post.create')"
      class="mt-2 bg-blue-500 hover:bg-blue-700 text-white py-1 px-3 rounded focus:outline-none focus:shadow-outline"
    >
      Créer un article
    </router-link>
    <table class="table-auto w-full">
      <thead>
        <tr>
          <th class="px-4 py-2">Titre</th>
          <th class="px-4 py-2">Auteur</th>
          <th class="px-4 py-2">Date de création</th>
          <th class="px-4 py-2">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr
          v-for="(post, index) in posts"
          :key="post.id"
          :class="{ 'border-gray-100': index % 2 === 0 }"
        >
          <td class="border px-4 py-2">{{ post.title }}</td>
          <td class="border px-4 py-2">
            {{ post.author.profile.name }} {{ post.author.profile.surname }}
          </td>
          <td class="border px-4 py-2">{{ getDateTime(post.createdAt) }}</td>
          <td class="border px-4 py-2">
            <router-link
              v-if="hasPermission('post.edit')"
              :to="{
                name: 'club.manager.post.edit',
                params: { postId: post.id }
              }"
              class="text-blue-400 hover:text-blue-600"
            >
              <font-awesome-icon :icon="faEdit" />
            </router-link>
            <button
              v-if="hasPermission('post.remove')"
              type="button"
              class="ml-2 text-red-400 hover:text-red-600"
              @click="removePost(post.id)"
            >
              <font-awesome-icon :icon="faTimes" />
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </section>
</template>

<script src="./Posts.ts" lang="ts" />
<style src="./Posts.pcss" lang="postcss" />
