<template>
  <div class="text-white">
    <div v-if="!user" class="not_connected">
      <router-link :to="{ name: 'login' }" class="navigation__link">
        Connexion
      </router-link>
      <router-link :to="{ name: 'register' }" class="navigation__link">
        Inscription
      </router-link>
    </div>
    <div v-else-if="!profile" class="connected text-white">
      Selectionner un profil
    </div>
    <div v-else class="connected text-white">
      <div @click.stop class="flex justify-end ">
        <button
          class="block focus:outline-none focus:border-white"
          @click="opened = !opened"
        >
          {{ profile.name }} {{ profile.surname }}
          <font-awesome-icon :icon="opened ? faCaretUp : faCaretDown" />
        </button>
        <div
          v-click-outside="onClickOutside"
          v-show="opened"
          class="mt-6 py-2 w-48 bg-white shadow-xl absolute z-10"
        >
          <router-link
            :to="{ name: 'profile.select' }"
            class="block px-4 py-2 text-gray-800 hover:bg-indigo-500 hover:text-white"
          >
            Changer de profil
          </router-link>
          <router-link
            :to="{ name: 'logout' }"
            class="block px-4 py-2 text-gray-800 hover:bg-indigo-500 hover:text-white"
          >
            Déconnexion
          </router-link>
        </div>
      </div>
    </div>
  </div>
</template>

<script src="./UserDropdown.ts" lang="ts"></script>
<style src="./UserDropdown.pcss" lang="postcss"></style>
