<template>
  <div class="posts">
    <router-link :to="{ name: 'club' }"
      >Retourner à la liste des articles</router-link
    >
    <div v-if="post" class="block shadow-lg p-3">
      <div class="text-xl">
        {{ post.title }}
      </div>
      <p>{{ post.content }}</p>
      <div class="text-sm text-right">
        Ecrit par {{ post.author.profile.name }} le
        {{ new Date(+post.createdAt).toLocaleString() }}
      </div>
    </div>
  </div>
</template>

<script src="./Post.ts" lang="ts"></script>
