#clubs {
  .content p {
    border: 0.75rem solid transparent;
  }

  .club {
    &__icon-wrapper {
      @apply cursor-pointer bg-blue-100 flex justify-center items-center overflow-hidden h-48;
    }

    &__icon {
      @apply block;
    }
  }
}

@screen md {
  #clubs .club {
    &__icon {
      max-width: auto;
      max-height: 17.6rem;
      @apply w-full;
    }
  }
}

@screen xl {
  #clubs .club {
    &__icon-wrapper {
      @apply w-48 h-auto;
    }
  }
}